
// stylelint-disable
$white:  #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:  #000 !default;

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$blue:    #007bff !default;
$indigo:  #674eec !default;
$purple:  #8445f7 !default;
$pink:    #ff4169 !default;
$red:     #c4183c !default;
$orange:  #fb7906 !default;
$yellow:  #ffb400 !default;
$green:   #17c671 !default;
$teal:    #1adba2 !default;
$cyan:    #00b8d8 !default;

// Shards Specific
$blueish-grey: #5A6169 !default;
$custom-primary: #7bb11e !default;//#1e98b1 !default;

$primary:       $blue !default;
$secondary:     $blueish-grey !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $gray-900 !default;